.header{
    background-image:linear-gradient( rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.664)), url(../../images/location/Rectangle\ 1.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* background:rgba(0,0,0,0.5); */
}
/* .home{
    display:flex;
    margin:auto;
}
.description{
    width: 40%;
    color: white;
    margin:auto;
}
.box{
    width:60%;
    color: white;
    margin:auto;

} */
